.c-btn {
  font-family: $font-size-default;
  color: rgba(palette(white), .5);
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  padding: 8px 20px;
  border: 0;
  border-radius: 2px;

  &:hover {
    background-color: palette(white);
    color: rgba($color-primary, .9);
  }

  &.-filled {
    background-color: palette(white);
    color: rgba($color-primary, .9);
    font-weight: bold;

    &:hover {
      background-color: transparent;
      color: rgba($color-text-1, .5);
      border: 1px solid palette(white);
    }
  }
}