.c-btn {
  cursor: pointer;
  display: inline-block;
  padding: ($space-1 * 2) ($space-1 * 4);
  text-transform: uppercase;
  font-size: $font-size-default;
  font-weight: bold;
  border-radius: 2px;
  transition: background-color $animation-time linear;

  &.-primary {
    background-color: palette(white);
    color: palette(black);

    &:hover {
      background-color: darken(palette(white), 20%);
    }
  }

  &.-secondary {
    background-color: palette(green);
    color: palette(white);

    &:hover {
      background-color: lighten(palette(green), 10%);
    }
  }

  &.-tertiary {
    background-color: palette(yellow);
    color: palette(black);

    &:hover {
      background-color: lighten(palette(yellow), 10%);
    }
  }

  &.-filled {
    background-color: palette(white);
    color: rgba($color-primary, .9);
    font-weight: bold;

    &:hover {
      background-color: rgba(palette(white), .9);
      color: rgba($color-text-1, 1);
    }
  }

  &.-transparent {
    background-color: transparent;
    color: palette(white);
    border: 1px solid palette(white);

    &:hover {
      opacity: .6;
    }
  }

  &.-fixed {
    width: 180px;
  }
}

// Button group

.c-btn-group {
  display: flex;
  justify-content: center;
  align-items: center;

  .btn-group-item {
    margin-right: $space-1 * 3;

    &:last-child {
      margin-right: 0;
    }
  }
}
