.c-dropdown {
  top: 8px !important;
  z-index: 1000;
  background-color: palette(white);
  box-shadow: 0 0 3px 0 rgba(palette(black), 0.2);
  padding: 12px 0;

  &.tether-out-of-bounds {
    visibility: hidden;
  }

  &:before {
    content: '';
    top: -5px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-top: 6px solid palette(white);
    border-left: 6px solid palette(white);
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    transform: rotate(45deg);
    box-shadow: -1px -1px 0px 0px rgba(palette(black), 0.1);
  }

  > div > p {
    padding: 0 20px;
    font-size: 12px;
  }

  ul {
    max-height: 150px;
    overflow-y: auto;

    li {
      padding: 8px 20px;
      cursor: pointer;

      &:hover {
        background-color: rgba(palette(black), .1);
        color: $primary-color;
      }
    }
  }
}