.c-footer {
	display: flex;
  justify-content: center;

  .footer-content {
    border-top: 1px solid rgba(palette(gray, light), .5);
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 960px;
  }
}
