.c-form {
  .form {
    position: relative;

    &:after {
      content: 'Required fields *';
      position: absolute;
      bottom: -45px;
      right: 0;
      font-size: 12px;
      color: $color-text-1;
    }

    &.-control:after { bottom: -30px; }
  }

  .form-field {
    position: relative;
    display: flex;
    flex-flow: column;
    font-size: $font-size-big;
    margin-bottom: 42px;
    color: $color-text-1;

    &.required-error {
      .label { color: red; }
    }

    &.-url-not-valid {
      position: relative;

      &:after {
        content: 'Url not valid';
        position: absolute;
        bottom: -14px;
        right: 0;
        color: red;
        font-size: 10px;
      }
    }

    .label {
      display: flex;
      align-items: center;
      font-size: 18px;
      line-height: 30px;
      color: rgba($color-text-1, .5);
      margin-bottom: 10px;

      .c-info { margin-top: 3px; }
    }

    .subtitle {
      display: inline-block;
      font-size: 12px;
      margin-bottom: 14px;
      margin-top: -7px;
    }

    input[type="text"],
    input[type="password"],
    input[type="number"] {
      order: 2;
      width: 100%;
      font-size: $font-size-big;
      line-height: 30px;
      border: 0;
      border-bottom: 1px solid rgba(palette(black), .3);
    }

    input:focus {
      border-color: $color-primary;
      & + .label { color: $color-primary; }
    }

    .-hidden { visibility: hidden; }

    /* Hide HTML5 Up and Down arrows. */
    input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }

    &.-in-row {

      @include breakpoint(medium) {
        display: flex;
        flex-flow: row;
      }

       .row-field {
        margin-bottom: 40px;

        @include breakpoint(medium) {
          margin-bottom: 0;
        }

        flex-grow: 1;
        display: flex;
        flex-flow: column;
        margin-right: 13px;
        justify-content: space-between;

        &.required-error {
          .label { color: red; }
        }

        &:last-child { margin-right: 0; }

        &.-mono {
          .label { margin-bottom: 7px; }

          .Select .Select-multi-value-wrapper {
            display: flex;
          }

          .Select-value {
            border-radius: 0;
            border: 0;
            background: none;

            .Select-value-label {
              font-size: $font-size-big;
              font-weight: normal;
              color: $color-text-1;
            }
          }

          .Select-clear-zone { display: none; }
        }

        &.-end-date-not-valid {
          position: relative;

          &:after {
            content: 'Completion year not valid';
            position: absolute;
            bottom: -14px;
            right: 0;
            color: red;
            font-size: 10px;
          }
        }
      }
    }

    .c-input-map { order: 3; }

    /* Add new value option */
    .new-value {
      order: 3;

      &.-active {
        .others-list { height: auto; }
        .add-value {
          display: inline-block;
        }
      }

      .others-list {
        margin-bottom: 0;
        margin-top: 15px;
        height: 0;
      }

      .add-value {
        display: none;
        padding: 5px 25px;
      }
    }

    .field-other {
      opacity: 0;
      height: 0;
      margin-right: 20px;

      &.-additional {
        margin-top: 15px;
        width: 50%;

        &.-required {
          position: relative;
          border-color: red;
        }
      }

      &.-active {
        opacity: 1;
        height: auto;
      }
    }

    .location-list,
    .others-list {
      order: 2;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
    }

    .list-title {
      display: flex;
      align-items: center;
      margin-bottom: 3px;
      margin-right: 8px;
    }

    .location,
    .other {
      display: flex;
      align-items: center;
      margin-right: 5px;
      margin-bottom: 5px;
      padding: 3px 8px;
      border-radius: 100px;
      background-color: rgba(palette(black), .1);

      &:last-child { margin-right: 0; }

      svg { fill: $color-primary; }
    }

    .-hidden { display: none; }
  }

  .c-checkbox-box {
    @include breakpoint(large) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin: 0;
    }
  }

  .c-checkbox {
    width: 50%;
    float: left;
    margin: 20px 0;

    @include breakpoint(large) {
      float: none;
      width: auto;
      margin-bottom: 10px;
    }

    input[type=checkbox]:checked + label {
      .checkbox-icon {
        background-color: transparent;
      }

      .item-title { font-weight: normal; }
    }

    label {
      color: $color-text-1;
      font-size: $font-size-big;

      .checkbox-icon:after { border-color: $color-primary; }
    }

    .form-error {
      position: absolute;
      bottom: -16px;
      right: 0;
      font-size: 11px;
      color: red;
    }
  }

  .filter-error {
    margin-bottom: 22px;
    .error {
      color: red;
      font-size: 14px;
    }
  }

  .Select {
    order: 2;

    .Select-menu-outer { z-index: 8; }
    .Select-control {
      border-bottom: 1px solid rgba(palette(black), .3);

      .Select-value {
        background-color: rgba(palette(black), .1);
        border: 0;
        margin-left: 3px;
        font-size: $font-size-big;

        &.first-child { margin-left: 0; }

        .Select-value-label {
          color: $color-text-1;
          font-weight: normal;
        }

        .Select-value-icon { color: $color-primary ; }
      }
    }
  }
}
