.c-guidance-principles {

  .tab-section {
    .line {
      display: none;
      width: 100%;
      border-bottom: 1px solid rgba(palette(black), .5);

      @media #{$mq-medium} {
        display: inline-block;
      }
    }

    &.-principles {
      padding-top: 0;

      @media #{$mq-medium} {
        padding-top: 50px;
      }
    }
  }

  .c-accordion {
    .pp-header {
      position: relative;
      display: flex;
      text-indent: 0;
      margin-bottom: 24px;
    }

    .show-more {
      position: relative;
      top: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 29px;
      height: 27px;
      border: 2px solid $color-primary;
      border-radius: 2px;
      margin-right: 12px;

      @media #{$mq-medium} {
        position: absolute;
        top: 0;
        left: -45px;
        margin-right: 0;
      }

      .more {
        fill: $color-primary;
        stroke: $color-primary;
        stroke-width: 3px;
        margin-top: 1px;
        margin-right: 1px;
      }
    }

    .pp-title {
      position: relative;
      display: flex;
      flex-flow: column;
      color: rgba($color-text-1, .9);
      font-size: 13px;
      line-height: normal;
      font-family: $font-family-default;
      text-transform: uppercase;

      @media #{$mq-medium} {
        display: initial;
        font-size: $font-size-default;
      }
    }

    .pp-number {
      margin-right: 9px;
      font-size: 24px;
      font-weight: bold;

      @media #{$mq-medium} {
        font-size: $font-size-extrabig;
      }
    }

    & > .rc-collapse-item {

      &.-active {
        .show-more {
          background-color: $color-primary;

          .more {
            fill: palette(white);
            stroke: palette(white);
          }
        }
      }
    }
  }
}
