.home-section {
  padding: 40px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @include breakpoint(large) {
    padding: 116px 170px;
  }

  &.-grayed {
    background-color: palette(gray, lighter);
  }

  &.-dark {
    background-color: palette(green, dark);
  }

  &.-header {
    background-image: url("/images/header_intro.png");
    padding-top: 120px;
    position: relative;

    @include breakpoint(large) {
      padding-top: 220px;
    }

    .section-icon {
      width: 17px;
      height: 17px;
      fill: palette(white);
      position: absolute;
      margin: auto;
      left: 0; right: 0; bottom: 30px;
    }

    .h1.-big {
      @include breakpoint(large) {
        font-size: 52px;
        line-height: 69px;
        letter-spacing: 2px
      }
    }
  }

  &.-submit {
    background-image: url("/images/bg_section_submit.png");
  }

  .screenshot {
    max-height: 650px;
    box-shadow: 0px 6px 18px rgba(palette(black), .4);
  }

  .-container {
    position: relative;
  }

  .section-wrapper {
    margin: 0 auto;
    text-align: center;

    @include breakpoint(medium) {
      max-width: 70%;
    }
  }

  &.-partners {
    .subpartners-title {
      font-size: $font-size-huge;
      line-height: 22px;

      &:after {
        margin-top: 13px;
      }
    }
  }
}

.c-partners {
  margin: 55px 0 75px;
  list-style-type: none;
  display: flex;
  align-items: center;

  @include breakpoint(large) {
    // margin-bottom: 0;
  }

  &.-contributors {
    margin: 30px 0;

    li img {
      max-height: 65px;
      max-width: 120px;
    }
  }

  a {
    display: inline-block;
  }

  li {
    margin-right: $space-1 * 4;

    @include breakpoint(medium) {
      margin-right: $space-1 * 9;
    }

    &:last-child {
      margin-right: 0;
    }

    img {
      max-height: 80px;
      max-width: 100%;
    }
  }
}
