$zoom-size: 40px;

.c-map, .map-leaflet {
  height: 100%;
}

.share-btn {
  position: absolute;
  top: 155px;
  right: 16px;
  width: $zoom-size;
  height: $zoom-size;
  z-index: 999;
  padding: 0;
  background-color: palette(white);
  border-radius: 2px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);

  @include breakpoint(medium) {
    top: 100px;
  }

  svg {
    fill: $color-primary;
    margin-top: 3px;
  }
}

.legend-btn {

  @include breakpoint(medium) {
    display: none;
  }

  position: absolute;
  top: 200px;
  right: 16px;
  width: $zoom-size;
  height: $zoom-size;
  z-index: 999;
  padding: 0;
  background-color: palette(white);
  border-radius: 2px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);

  svg {
    fill: $color-primary;
    margin-top: 3px;
  }
}

// TODO: set zIndex using Leaflet
.leaflet-overlay-pane, .leaflet-popup-pane {
  z-index: 999 !important;
}

.leaflet-control-attribution {
  color: rgba(black, .3);

  a {
    color: rgba(black, .3);
  }
}
