.leaflet-marker-icon {
  /* !important for overriding Leaflet inline styles */
  border-radius: 50% !important;
	background-color: $primary-color;
  color: palette(white);
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: .9px;
  font-size: $font-size-default;
  font-weight: 600;
  box-shadow: 0 0 8px 0 rgba(black, 0.16);

  &.-current {
    cursor: auto !important;
    background-color: palette(yellow);
    box-shadow: none;
  }

  &.-centroid {
    border: 2px solid palette(white);
    background-color: palette(yellow);
    box-shadow: none;
  }
}
