.leaflet-marker-icon {
  /* !important for overriding Leaflet inline styles */
  border-radius: 50% !important;
	background-color: palette(yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: .9px;
  font-size: $font-size-default;
  font-weight: 600;
}
