.c-nav {

  &.-home {
    .nav-link {
      color: palette(white);

      &:before {
        background-color: palette(yellow);
      }
    }
  }

  &.-footer {
    .nav-link {
      font-weight: normal;

      &:hover:before {
        display: none;
      }
    }
  }

  .nav-list {
    display: flex;
  }

  .nav-item {
    margin-right: $space-1 * 4;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }

  .nav-link {
    position: relative;
    display: block;
    font-size: $font-size-default;
    letter-spacing: 1px;
    padding: ($space-1 * 3) ($space-1 * 2);
    text-transform: uppercase;
    color: palette(black);

    &:before {
      content: '';
      position: absolute;
      height: 3px;
      margin: auto;
      width: 0;
      top: 0; left: 0; right: 0;
      background-color: palette(green);
      transition: width $ease-out-cubic $animation-time;
    }

    &:hover {
      &:before {
        width: 30%;
      }
    }

    &.-active {
      pointer-events: none;

      &:before {
        width: 100%;
      }
    }
  }
}
