$_separation: ($space-1 * 4);

/* wrappers */
.project-list-wrapper {
  padding-bottom: $_separation;
  min-height: 100%;
}
.project-detail-wrapper {
  min-height: 100%;
  padding: $_separation;
}

.project-detail-wrapper {
  background-color: palette(white, dark)
}

.project-list-wrapper {
  background-color: palette(white);
}

.c-project-list {

  > li {
    &:last-child {
      margin-bottom: 0;

      .c-project-item {
        border: 0;
      }
    }

    &.no-items {
      padding: $_separation;
    }
  }
}

/* Project item */

.c-project-item {
  display: flex;
  justify-content: space-between;
  padding: 20px $_separation 16px;
  border-bottom: 1px solid rgba(#000000, .1);
  cursor: pointer;
  transition: background-color linear $animation-time;

  &:hover {
    background-color: rgba(palette(gray), .1);
  }

  .project-advance {
    flex-grow: 1;
  }

  .project-name {
    display: block;
    font-size: $font-size-big;
    margin-bottom: $space-1 * 1.6;
    line-height: 24px;
    color: $color-text-1;
    font-weight: 600;
  }

  .project-company {
    margin-bottom: $space-1 * 1.05;
    font-weight: 600;
    color: rgba($color-text-1, .9);
    text-transform: uppercase;
    line-height: 18px;
  }

  .project-tags-container {
    display: flex;
    justify-content: space-between;

    &.row.collapse {
      .project-tags {
        padding-right: 10px;
      }
    }
  }

  .project-tags {
    display: flex;
    flex-wrap: wrap;
    color: rgba($primary-color, .9);
    font-size: $font-size-default;
    line-height: 18px;
    padding-right: 10px;

    &:last-child {
      padding-right: 0;
    }

    .title {
      display: inline-block;
      color: rgba($color-text-1, .9);
      margin-right: 5px;
    }
  }

  .project-action {
    padding-left: 30px;
    padding-right: 0;

    .c-icon {
      fill: $primary-color;
    }
  }
}

/* Project detail */

.c-project-detail {
  .project-bar {
    display: block;
    height: 50px;
    background-color: palette(green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: $space-1 * 4;
    padding-right: $space-1 * 4;
    border-bottom: 1px solid rgba(palette(black), .3);
  }

  .project-back {
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: $font-size-default;
    font-weight: bold;
    text-transform: uppercase;
    color: palette(white);
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .c-icon {
    margin-right: $space-1 * 2;
    width: 8px;
    height: 16px;
    fill: palette(white);
  }

  .project-actions {
    display: flex;
    align-items: center;

    button.action {
      display: flex;
      align-items: center;
      color: palette(white);
      font-size: $font-size-small;
      margin-right: $space-1 * 5;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        opacity: .7;
      }

      .c-icon {
        margin-right: $space-1;
        fill: palette(white);
      }
    }
  }

  .project-name {
    font-size: 32px;
    font-weight: bold;
    color: palette(white);
    line-height: 36px;;
  }

  .project-company {
    display: block;
    font-weight: bold;
    color: palette(white);
    text-transform: uppercase;
    margin-bottom: $space-1;
    line-height: 18px;
  }

  .project-date {
    display: block;
    margin-bottom: $space-1 * 4;
    color: palette(white);
  }

  .project-text {
    color: palette(black);
    font-size: $font-size-big;
    line-height: 32px;
  }

  .project-link {
    cursor: pointer;
    display: inline-block;;
    padding: $space-1 ($space-1 * 2);
    font-weight: bold;
    text-transform: uppercase;
    color: palette(green);
    border-radius: 3px;
    border: 1px solid palette(green);
    margin-top: $space-1 * 5;
  }

  .project-detail-section {
    padding-bottom: $space-1 * 7;
    border-bottom: solid 1px rgba(#0f6487, .2);
    background-color: palette(green);
    padding: $_separation;
  }

  .project-resumme {
    border-bottom: 1px solid rgba(palette(gray, light), .3);
    padding: $_separation;

    .project-cost {
      margin-bottom: $space-1 * 4;

      .label {
        font-size: 13px;
      }

      .value {
        font-size: 24px;
        font-weight: normal;
        line-height: 36px;
      }
    }
  }

  .project-info {
    padding: $_separation;

    .project-info-item {
      margin-bottom: $space-1 * 4;
      
      .property {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .label {
    display: flex;
    flex-flow: column;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $font-size-default;
    color: palette(green);
    margin-bottom: $space-1;

    .sublabel {
      display: inline-block;
      margin-top: 5px;
      font-size: 10px;
    }
  }

  .value {
    color: palette(black);
    text-transform: capitalize;
    line-height: 24px;

    &.-big {
      font-size: 36px;
      font-weight: 600;
      line-height: 40px;
    }

    .link {
      color: $primary-color;

      &:hover {
        opacity: .5;
      }
    }

    .value-item {
      margin-right: 4px;
      text-transform: capitalize;
      line-height: 24px;

      &:after {
        content: ','
      }

      &:last-of-type {
        margin-right: 0;

        &:after {
          content: ''
        }
      }
    }
  }
}
