.c-search {

  position: relative;

  .search-input {
    display: block;
    width: 100%;
    padding: $space-1 ($space-1 * 2);
    margin-bottom: $space-1 * 3;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid palette(white);
    color: palette(white);
    font-size: $font-size-big;
    padding: 0 20px $space-1 0;
  }

  .search-icon {
    position: absolute;
    top: 0;
    right: 0;
    fill: palette(white);
    width: 16px;
    height: 16px;
  }
}
