
.c-select {
  .select-label {
    display: block;
    margin-bottom: $space-1;
  }
}

.react-selectize {

  margin-bottom: $space-1 * 2;

  &.root-node {
    width: 100%;
    background-color: lightgray;
  }

  .dropdown-menu {
    background-color: white;
    border: lightgray 1px solid;

    .option-wrapper {
      padding: $space-1 ($space-1 * 2);
      &.highlight {
        background: lightblue;
      }
    }
  }
}

/* Overried react select */
.Select {
  .Select-control {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(palette(black), .54);
    border-radius: 0;
    cursor: pointer;

    .Select-clear {
      color: rgba(palette(black), .54);
    }
   
    .Select-arrow {
      border-color: rgba(palette(black), .54) transparent transparent;
    }

    .Select-placeholder {
      color: rgba(palette(black), .7);
    }
  }

  .Select-multi-value-wrapper {
    .Select-value {
      position: relative;
      color: white;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 100px;
      padding-left: 5px;
      margin-left: 0;

      .Select-value-label {
        font-weight: 700;
        margin-right: 20px;
        margin-bottom: 1px;
      }

      .Select-value-icon {
        position: absolute;
        right: 3px;
        top: 1px;
        border: 0;
        color: $secondary-color;
      }
    }
  }

  .Select-menu-outer {
    background-color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

    .Select-option {

      &.is-focused {
        background-color: rgba($color-text-1, .07);
        color: $primary-color;
      }

      &:hover {
        background-color: rgba($color-text-1, .07);
        color: $primary-color;
      }
    }
  }
}