$_btn-height: 50px;
$padding: 32px;

.c-sliding-menu {
  z-index: 4;
  position: relative;
  width: 100%;
  height: auto;

  &.-closed {
    height: $_btn-height;

    .sliding-menu-content {
      transform: translateY(calc(-100%));
    }
  }

  .sliding-menu-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    padding: 0 $padding;
    background-color: $primary-color;

    .c-btn.download {
      display: flex;
      align-items: center;
      padding: 5px 12px;

      svg {
        margin-left: 8px;
        fill: palette(white);
      }
    }
  }

  .sliding-menu-content {
    transform: translateY(0);
    transition: all $ease-out-cubic $animation-time-2;
  }

  .sliding-menu-icon {
    fill: palette(white);
    margin: auto;
    margin-left: 12px;
    stroke-width: 2px;
    stroke: palette(white);
  }

  .sliding-menu-btn {
    position: relative;
    display: block;
    height: $_btn-height;
    padding: 0;
    line-height: $_btn-height;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $font-size-big;
    color: palette(white);
    border: none;
    background-color: $primary-color;
    // box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
  }
}
