
.c-tabs-fixed {
  display: flex;
  border-bottom: 1px solid rgba(palette(black), .5);
  overflow-x: auto;
  overflow-y: hidden;

  &.-fixed {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    padding-left: 170px;
    z-index: 999;
  }

  .tab {
    padding: 20px 0;
    margin: 0 18px;
    color: rgba($color-text-1, .9);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: -1px;
    cursor: pointer;

    &:focus { outline: none; }

    &:first-child {
      margin-left: 0;
    }

    &.react-tabs__tab--selected {
      border-bottom: 5px solid $color-primary;
      color: $color-primary;
    }
  }
}
