.h1 {
  font-size: $font-size-medium-huge;
  line-height: 1.56;
  font-weight: bold;
  margin-bottom: $space-1;
  color: $color-text-1;

  @include breakpoint(large) {
    margin-bottom: $space-1 * 3;
    font-size: $font-size-monster;
    line-height: 1.25;
  }

  &.-big {
    font-size: 32px;
    line-height: 43px;

    @include breakpoint(large) {
      font-size: $font-size-extra-monster;
      line-height: 75px;
    }
  }

  &.-secondary {
    color: palette(white);
  }

  &.-line {
    &:after {
      display: block;
      content: '';
      width: 60px;
      height: 4px;
      background-color: palette(yellow);
      margin-top: $space-1 * 5;
    }

    &.-center {
      position: relative;
      margin-bottom: 40px;

      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: $space-1 * 5;
        width: 60px;
        height: 4px;
        background-color: palette(yellow);
        transform: translateX(-50%);
      }
    }
  }
}


.h2 {
  font-size: $font-size-big;
  line-height: 2.06;
  color: palette(yellow);
  margin-bottom: $space-1 * 4;
}

.h3 {
  font-size: $font-size-big;
  line-height: 1.75;
  color: palette(black);
  font-weight: bold;
  margin-bottom: $space-1 * 2;
}

.list {
  font-size: $font-size-big;
  line-height: 1.75;
  color: palette(black);
  list-style: square;
  margin-bottom: $space-1 * 2;
  padding-left: 50px;

  > li {
    margin-bottom: $space-1;

    > a {
      color: palette(yellow);
    }
  }
}

.text {
  font-size: $font-size-big;
  line-height: 1.75;
  color: palette(black);
  margin-bottom: $space-1 * 5;

  a {
    color: palette(yellow);
  }

  p {
    margin: 0 0 1rem 0;
  }

  h3 {
    font-weight: bold;
    line-height: 1.1;
    margin: 1rem 0;
  }

  &.-secondary {
    color: palette(white);
  }

  &.-panel-header {
    font-size: $font-size-medium-huge;
    line-height: 1.47;
    color: palette(white);
  }
}
