// Reset leaflet tooltip styles

.leaflet-popup-content-wrapper {
  box-shadow: 0 0 8px 0 rgba(black, 0.16);
  border-radius: 0;
  padding: 0;
}
.leaflet-popup-content {
  margin: 0;
}
.leaflet-popup-close-button {
  display: none;
}
.leaflet-popup-tip {
  background-color: $color-primary;
}
.leaflet-popup-tip-container {
  bottom: -19px;
}

// Tooltip styles

.c-tooltip {}

.tooltip-content {
  padding: 20px;

  .project-name {
    font-size: $font-size-big;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: .2px;
    margin-bottom: 10px;
    color: $color-primary;
  }

  .project-orgs {
    text-transform: uppercase;
    font-size: $font-size-default;
    font-weight: bold;
    color: ($color-text-1, .9);
    margin-bottom: 5px;
  }

  .project-properties {
    display: flex;
    font-size: $font-size-small;
    color: rgba($color-text-1, .9);
    text-transform: capitalize;

    .property {
      display: flex;
      align-items: center;
      margin-right: 12px;

      &:last-child {
        margin: 0;
      }

      svg {
        margin-right: 5px;
        fill: rgba(palette(gray, medium), .3);
      }
    }
  }
}

.tooltip-link {
  display: block;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: palette(white) !important;
  background-color: $color-primary;
  padding: $space-1 * 2;
}
