$zoom-size: 46px;

.c-zoom-control {
  position: absolute;
  top: $space-1 * 2;
  right: $space-1 * 2;
  z-index: 999;
  border-radius: 3px;
  border: 1px solid palette(gray, light);

  .zoom-control-item {
    overflow-x: hidden;

    &:first-child {
      border-radius: 3px 3px 0 0;
    }

    &:last-child {
      border-radius: 0 0 3px 3px;
    }
  }

  .zoom-control-btn {
    user-select: none;
    padding: 0;
    display: block;
    text-align: center;
    width: $zoom-size;
    height: $zoom-size;
    line-height: $zoom-size;
    border: none;
    color: palette(green);
    background-color: white;
    font-size: 30px;
    font-weight: bold;
    transition: background-color linear $animation-time;

    &.-disabled {
      pointer-events: none;
      background-color: palette(gray, light);
    }
  }
}
