
body {
  font-family: font(primary);
  font-size: $font-size-default;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & * {
    font-family: font(primary);
  }
}

a {
  text-decoration: none;
}

*, *:after, *:before {
  box-sizing: border-box !important;
}

button {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
  }
}

input {
  outline: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
  &::-webkit-search-decoration {
      -webkit-appearance: none;
  }
  &::-webkit-search-cancel-button {
    display: none;
  }
}

.row {
  &.out-collapse {
    margin: 0 -0.9375rem !important;
  }
}
