
body {
  font-family: font(primary);
  font-size: $font-size-default;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & * {
    font-family: font(primary);
  }
}

a {
  text-decoration: none;
}

*, *:after, *:before {
  box-sizing: border-box !important;
}

button {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
  }
}

input {
  outline: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
  &::-webkit-search-decoration {
      -webkit-appearance: none;
  }
  &::-webkit-search-cancel-button {
    display: none;
  }
}

.row {
  &.out-collapse {
    margin: 0 -0.9375rem !important;
  }
}

.is-mobile-hidden {
  display: none;

  @media (min-width: $breakpoint-desktop) {
    display: block;
  }
}

.relative-container {
  height: 100%;
  position: relative;

  @include breakpoint(small only) {
    flex: 1;
    overflow-y: auto;
    height: calc(100% - 54px);
  }

  // > div {
  //   height: 100%;
  //   position: relative;
  // }
}
