/* app */
.l-app {
  height: 100vh;
  min-width: $app-min-width;
  display: flex;
  flex-direction: column;
  transition: transform $animation-time $ease-out-cubic;
  overflow-x: hidden;

  &.-pushed {
    transform: translateX(-300px);
  }

  @include breakpoint(large) {
    &.-pushed {
      transform: translateX(0);
    }
  }
}

/* Main content */
.l-main {
  flex: 1;
  position: relative;
}

// .main-content {
//   height: 100%;
//   transform: translateX(0);
// }

/* Wrappers */
.l-app-wrapper {
  max-width: $app-width;
  margin: 0 auto;
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media #{$mq-medium} {
    padding-left: 170px;
    padding-right: 170px;
  }
}

/* Pages */
.l-map-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @include breakpoint(small only) {
    display: flex;
    flex-direction: column;
  }
}
