// Max widths
$app-width: 1280px;

// Colors
$primary-color: #248b6b;
$color-primary: #248b6b;

$secondary-color: #ffb400;
$color-secondary: #ffb400;

$palettes: (
  blue: (
    primary: #0F6487,
    secondary: #70CFDF
  ),
  white: (
    primary: #FFFFFF,
    dark: #FAFAFA
  ),
  black: (
    primary: #4A4A4A
  ),
  gray: (
    primary: #AAAAAA,
    light: #CCCCCC,
    lighter: #EEEEEE
  ),
  yellow: (
    primary: #FFB400
  ),
  green: (
    primary: $primary-color
  ),
  orange: (
    primary: $secondary-color,
    dark: #0F3000
  )
);

$color-text-1: #4A4A4A;
$color-text-2: #FFFFFF;

// Font families
$font-family-default: 'Open Sans', sans-serif;
$font-family-secondary: 'Raleway', sans-serif;;

$fonts: (
  primary: $font-family-default,
  secondary: $font-family-secondary
);

// Fonts sizes
$font-size-extra-small:   10px;
$font-size-small:         12px;
$font-size-default:       14px;
$font-size-big:           16px;
$font-size-extrabig:      18px;
$font-size-huge:          22px;
$font-size-monster:       60px;
$font-size-extra-monster: 72px;

// Margins & Paddings
$space-1: 8px;

// Times
$animation-time:   .16s;
$animation-time-2: .24s;
$animation-time-3: .5s;
$animation-time-4: .75s;

// Eases
$ease-in-cubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$ease-out-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);

$ease-in-sine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$ease-out-sine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$ease-in-out-sine: cubic-bezier(0.445, 0.050, 0.550, 0.950);
